---
---
<div class="nav-hire">
<button class="hire"><a href=/#contact>let's talk</a></button>
<button><a href="https://wa.me/+250783544364" target="_blank" rel="noopener noreferrer">Whatsapp me</a></button>
</div>
<div class="nav-links">
  <a href="/about"></a>
  <a href="./IYADUKUNZE_Emile_resume.pdf" target="_blank"><small>my Resume</small></a>


</div>

<style>
  .nav-hire {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
  button {
    background-color: #007bff1e;
    color: #fff;
    border: none;
    padding: 0.01rem 0.05rem;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 1rem;
  }
</style>